@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=New+Rocker&display=swap');

body {
 background-image: url("https://static.wikia.nocookie.net/ordemparanormal/images/5/53/Arte_Portal_Hexatombe.jpg/revision/latest/scale-to-width-down/250?cb=20251102150329&path-prefix=pt-br");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 1920px;
}
h1{
    color: rgb(238, 201, 36);
    font-family: "New Rocker", system-ui;
    font-size: 72px;
    text-align: center;
}

h2{
    color: rgb(238, 201, 36);
    font-family: "New Rocker", system-ui;
    font-size: 48px;
    text-align: center;
}


h3 {
    color: rgb(255, 255, 255);
    font-family: "New Rocker", system-ui;
    font-size: 24px;
    text-align: center;
}

h4 {
    color: rgb(255, 255, 255);
    font-family: "New Rocker", system-ui;
    font-size: 24px;
    text-align: center;
}

p{
      color: rgb(255, 255, 255);
    font-family: "New Rocker", system-ui;
    font-size: 24px;
    text-align: center;
}

a:link {
  color: rgb(238, 201, 36);
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}

table, th, td, tr
{
    background-color: rgb(255, 255, 255);
    border: solid rgb(238, 201, 36);
   border-width: 2px;
   width: 25%;
   color: rgb(201, 169, 26);
   margin-left: auto;
  margin-right: auto;
  

}

li
{
    background-color: rgb(255, 255, 255);
    border: solid rgb(238, 201, 36);
    border-width: 2px;
   width: 30%;
   opacity: 100%;
   color: rgb(201, 169, 26);
 margin-left: auto;
  margin-right: auto;
}
 img{
     display: block;
  margin-left: auto;
  margin-right: auto;
 }
